h2{
    text-align: center;
    color:pink;
}
 p{
     text-align: center;
    font-size: 25px;
 }

 #contenido{
     border: red solid 5px;
 }

 h1{
     text-align: center;
     background: purple;
     color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }