h2{
    text-align: center;
    color:blue;
}
 p{
     text-align: center;
    font-size: 25px;
 }

 #contenido{
     border: red solid 5px;
 }

 h1{
     text-align: center;
     background: black;
     color: white;
 }